.main_header .mobile_menu_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: rgb(52, 52, 52);
  z-index: 999;
  transition: 0.3s ease-in;
  visibility: hidden;
}
.main_header .mobile_menu_container.active {
  width: 90%;
  visibility: visible;
}
.main_header .close_btn {
  position: absolute;
  top: 4%;
  right: 5%;
}
.main_header .close_btn i {
  font-size: 2.5rem;
  color: white;
}

.hero_section .hero-carousel {
  display: flex !important;
}
.hero_section .hero-carousel.mobile {
  display: none !important;
}

@media screen and (max-width: 1254px) {
  .container {
    width: 90% !important;
  }
  .main_header .nav-wrapper .brand-logo {
    left: 3%;
    top: 10%;
  }
  .main_header .nav-wrapper {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 !important;
  }
  .main_header .nav-wrapper .header-right-container {
    min-width: 80%;
  }
  .main_header .nav-wrapper .header-right-container .row {
    display: flex;
    justify-content: flex-end !important;
  }
  .main_header .nav-content .scrollBtn {
    display: flex !important;
  }
  .main_header .nav-content .tabs {
    display: flex !important;
    justify-content: flex-start;
    padding-left: 1.5rem !important;
  }
  .main_header .nav-content ul {
    justify-content: flex-start !important;
    width: 90%;
  }
  .hero_section .hero-carousel {
    display: none !important;
  }
  .hero_section .hero-carousel.mobile {
    display: flex !important;
  }
}
@media screen and (max-width: 960px) {
  .landing_page_body .container {
    width: 95% !important;
  }
  .landing_page_body .flow-text {
    font-size: 0.9rem !important;
  }
  .landing_page_body .section_heading {
    font-size: 1.8rem !important;
  }
  .landing_page_body .owl-carousel {
    width: 100%;
    min-height: auto;
  }
  .landing_page_body .main_header .menu_button {
    display: block !important;
    left: 1rem;
  }
  .landing_page_body .main_header .nav-wrapper {
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 !important;
    padding-left: 3%;
    padding-right: 3%;
    height: 5rem;
  }
  .landing_page_body .main_header .nav-wrapper .brand-logo {
    left: 4rem !important;
    top: 18% !important;
    margin: 0 !important;
    transform: translateX(0) !important;
  }
  .landing_page_body .main_header .nav-wrapper .brand-logo img {
    width: 7rem;
  }
  .landing_page_body .main_header .nav-wrapper .header-right-container .row {
    display: flex;
    justify-content: flex-end !important;
  }
  .landing_page_body .main_header .nav-wrapper .header-right-container .header-input {
    width: 40% !important;
    display: none !important;
  }
  .landing_page_body .main_header .nav-wrapper .header-right-container .loginBtn, .landing_page_body .main_header .nav-wrapper .header-right-container .joinBtn {
    font-size: 0.8rem !important;
    min-width: 5rem;
    padding: 0.7rem 1rem !important;
  }
  .landing_page_body .main_header .nav-content .tabs {
    display: flex !important;
    justify-content: flex-start;
  }
  .landing_page_body .main_header .nav-content .tabs .tab span {
    min-width: 28px;
    height: 28px;
  }
  .landing_page_body .main_header .nav-content .tabs .tab a {
    padding: 0 10px !important;
    font-size: 0.7rem !important;
  }
  .landing_page_body .second_section .container .inner_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .landing_page_body .second_section .container .left-wrapper {
    width: 100% !important;
  }
  .landing_page_body .second_section .container .left-wrapper button {
    font-size: 0.8rem;
    line-height: 0 !important;
    height: 3rem;
  }
  .landing_page_body .second_section .container .left-wrapper .flow-text {
    font-size: 1.1rem !important;
    padding-right: 0 !important;
  }
  .landing_page_body .second_section .container .left-wrapper .section_heading {
    font-size: 2rem !important;
  }
  .landing_page_body .second_section .container .left-wrapper .section_heading span {
    font-size: 2rem !important;
  }
  .landing_page_body .second_section .container .cards_flex_wrapper {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 !important;
    margin-top: 2rem !important;
  }
  .landing_page_body .second_section .container .cards_flex_wrapper .flow-text {
    font-size: 0.8rem !important;
    width: 100%;
  }
  .landing_page_body .second_section .container .cards_flex_wrapper .col {
    width: 25% !important;
    min-height: 150px !important;
    margin-left: 0 !important;
  }
  .landing_page_body .second_section .container .cards_flex_wrapper .col .icon {
    width: 60px !important;
    height: 60px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing_page_body .second_section .container .cards_flex_wrapper .col .icon img {
    min-width: 60% !important;
  }
  .landing_page_body .second_section .container .cards_flex_wrapper .col .icon.deposite img {
    min-width: 90% !important;
  }
  .landing_page_body .second_section .container .cards_flex_wrapper p {
    margin-top: 1rem !important;
    font-size: 0.7rem !important;
  }
  .landing_page_body .third_section {
    min-height: auto !important;
    padding-top: 1rem !important;
    padding-bottom: 4rem;
  }
  .landing_page_body .third_section .container .section_heading {
    width: 100%;
    font-size: 1.5rem !important;
  }
  .landing_page_body .third_section .container p {
    width: 100%;
    font-weight: 500;
  }
  .landing_page_body .third_section .container .video_container {
    border-radius: 1rem !important;
    margin-top: 2rem !important;
  }
  .landing_page_body .forth_section .container .section_heading {
    font-size: 1.5rem !important;
  }
  .landing_page_body .forth_section .container button {
    border-radius: 2rem;
    padding: 1.5rem 1.8rem !important;
    line-height: 0 !important;
    background: #f36c21;
    font-size: 0.9rem;
    height: auto !important;
    font-weight: 600;
    margin: 1.5rem 0.2rem !important;
  }
  .landing_page_body .forth_section .container .promotion_carousel {
    min-height: auto !important;
  }
  .landing_page_body .forth_section .container .games_carousel .item {
    border-radius: 1rem;
    min-width: 18%;
    height: 40vw !important;
  }
  .landing_page_body .forth_section .container .games_carousel .owl-dots, .landing_page_body .forth_section .container .games_carousel .owl-nav {
    display: none !important;
  }
  .landing_page_body .fifth_section {
    background: #2c2c2c;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .landing_page_body .fifth_section .container {
    max-width: 90% !important;
  }
  .landing_page_body .fifth_section .container .section_heading {
    font-size: 1.5rem !important;
  }
  .landing_page_body .fifth_section .container .game_providers_carousel {
    min-height: auto !important;
    padding-bottom: 5% !important;
  }
  .landing_page_body .fifth_section .container .game_providers_carousel .owl-dots {
    display: none !important;
  }
  .landing_page_body .fifth_section .container .game_providers_carousel .item {
    height: 20vw;
  }
  .landing_page_body .sixth_section .container .row .section_heading {
    font-weight: 700;
    font-size: 1.8rem !important;
  }
  .landing_page_body .sixth_section .container .row .flow-text {
    font-size: 1rem !important;
    margin: 0 !important;
    font-weight: 600;
  }
  .landing_page_body .sixth_section .container .row .btn-large {
    font-size: 1rem !important;
    background: white !important;
    color: black !important;
    font-weight: 600;
    border-radius: 2rem;
    margin-top: 1rem;
  }
  .landing_page_body .sixth_section .container .row .banner {
    position: relative;
    width: 50vw;
  }
  .landing_page_body footer {
    overflow-x: hidden;
  }
  .landing_page_body footer .container .nav-wrapper {
    position: absolute;
    width: 100%;
    display: flex !important;
    background: none !important;
    right: 0;
    bottom: 0%;
  }
  .landing_page_body footer .container .nav-wrapper .social-media {
    right: auto;
    left: 0;
    bottom: 8%;
  }
  .landing_page_body footer .container .nav-wrapper ul li {
    font-size: 0.7rem;
    font-weight: 500 !important;
  }
  .landing_page_body footer .container .col.wrapper h4 {
    font-size: 1rem;
  }
  .landing_page_body footer .container .col p {
    font-size: 0.7rem !important;
    color: var(--gray-text-color) !important;
  }
}
@media screen and (max-width: 600px) {
  .landing_page_body .second_section .container .cards_flex_wrapper .col {
    width: 50% !important;
    min-height: 150px !important;
    margin-left: 0 !important;
  }
  .landing_page_body .sixth_section .container .row {
    flex-direction: column !important;
  }
  .landing_page_body .sixth_section .container .row .col {
    margin-left: 0 !important;
    width: 100% !important;
    align-items: center !important;
    text-align: center;
  }
  .landing_page_body .sixth_section .container .row .banner {
    position: relative;
    width: 80vw;
  }
  .landing_page_body footer {
    padding-bottom: 40%;
  }
  .landing_page_body footer .container {
    display: flex !important;
    flex-direction: column !important;
  }
  .landing_page_body footer .container .col {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
  }
  .landing_page_body footer .container .col p {
    font-size: 0.9rem;
  }
  .landing_page_body footer .container .nav-wrapper {
    flex-wrap: wrap;
    flex-direction: row !important;
    width: 100%;
    justify-content: flex-start !important;
    bottom: -20%;
  }
  .landing_page_body footer .container .nav-wrapper ul {
    margin-left: 1.5rem;
  }
  .landing_page_body footer .container .nav-wrapper ul li {
    width: 50%;
    padding: 0 3%;
    margin-top: 3%;
    font-size: 0.8rem;
  }
  .landing_page_body footer .container .nav-wrapper.social-media {
    bottom: -5% !important;
  }
  .landing_page_body footer .container .nav-wrapper.social-media ul {
    margin-left: 1.5rem !important;
  }
  .landing_page_body footer .container .nav-wrapper.social-media ul i {
    width: 50%;
    padding: 3% 2rem !important;
    margin-top: 0 !important;
  }
}/*# sourceMappingURL=Responsive.css.map */