*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--white-text-color) !important;
}

body {
  --header-color: #0134A9;
  --primary-color: #0134A9;
  --footer-bg-color: #101215;
  --blue-secondary-color: #165cff;
  --blue-normal-color: #7da5ff;
  --secondary-color: #f36c21 ;
  --white-text-color: rgb(245, 245, 245);
  --white-normal-text-color: rgb(239, 239, 239);
  --black-text-color: black;
  --black-normal-text-color: rgb(32, 32, 32);
  --white-bg: white;
  --light-white-bg: rgb(244, 244, 244);
  --gray-text-color: rgb(197, 197, 197);
}

section {
  width: 100%;
  height: auto;
  position: relative;
}

#lightModeBtn {
  display: block;
}

#darkModeBtn {
  display: none;
}

.container {
  width: 90% !important;
}

.col {
  color: var(--white-text-color) !important;
}

.flow-text {
  font-size: 20px !important;
}

.bold-600 {
  font-weight: 600 !important;
}

.text-center {
  text-align: center;
}

.landing_page_body .owl-carousel {
  width: auto;
}
.landing_page_body .owl-carousel:hover > .owl-nav button {
  opacity: 1;
}
.landing_page_body .owl-carousel .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100% !important;
}
.landing_page_body .owl-carousel .owl-dots .owl-dot {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 0.5rem !important;
  background: rgba(65, 65, 65, 0) !important;
}
.landing_page_body .owl-carousel .owl-dots .owl-dot.active {
  background: rgba(107, 107, 107, 0.473) !important;
}
.landing_page_body .owl-carousel .owl-dots .owl-dot.active span {
  background: rgb(255, 255, 255) !important;
}
.landing_page_body .owl-carousel .owl-dots .owl-dot span {
  border-radius: 0 !important;
  position: absolute !important;
  width: 50% !important;
  height: 8% !important;
  background: white;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  margin: 0 !important;
}
.landing_page_body .owl-carousel .owl-nav {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%) !important;
  width: 98%;
  display: flex;
  justify-content: space-between;
  pointer-events: none !important;
}
.landing_page_body .owl-carousel .owl-nav button {
  position: relative !important;
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  font-size: 20px !important;
  line-height: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(80, 80, 80, 0.486) !important;
  pointer-events: all !important;
  opacity: 0;
  transition: 0.3s all;
}
.landing_page_body .owl-carousel .owl-nav button span {
  position: relative;
  color: white !important;
  font-size: 40px !important;
}
.landing_page_body .owl-carousel .item {
  background-color: rgb(48, 39, 44);
  height: auto !important;
  min-height: 0 !important;
  width: 100%;
}
.landing_page_body .owl-carousel .item.two {
  background: rgb(24, 28, 43) !important;
}
.landing_page_body .owl-carousel .item.three {
  background: rgb(13, 79, 71) !important;
}
.landing_page_body .owl-carousel .item.four {
  background: rgb(137, 89, 26) !important;
}
.landing_page_body .main_header {
  position: relative;
  height: auto;
  background: var(--header-color);
}
.landing_page_body .main_header .nav-wrapper {
  background: var(--primary-color);
  min-height: 100px !important;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
}
.landing_page_body .main_header .nav-wrapper .header-right-container {
  min-width: 60%;
  min-height: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center !important;
}
.landing_page_body .main_header .nav-wrapper .header-right-container form {
  min-width: 100%;
  min-height: 100%;
  padding-right: 5%;
}
.landing_page_body .main_header .nav-wrapper .header-right-container .row {
  margin-bottom: 0;
  min-width: 100% !important;
  flex-wrap: nowrap;
  float: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.landing_page_body .main_header .nav-wrapper .header-right-container .header-input {
  width: 15rem !important;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: flex-end !important;
  margin-top: 0.2rem !important;
}
.landing_page_body .main_header .nav-wrapper .header-right-container .header-input a {
  width: 100%;
  text-align: right;
  line-height: 2;
  margin-top: -0.5rem;
  font-size: 12px;
  font-weight: 600 !important;
  color: rgb(176, 176, 176);
}
.landing_page_body .main_header .nav-wrapper .header-right-container .header-input input {
  border-bottom: 2px solid rgb(234, 234, 234) !important;
  padding: 0% !important;
  color: white;
  font-size: 17px !important;
}
.landing_page_body .main_header .nav-wrapper .header-right-container .header-input input:focus {
  border-color: rgb(255, 255, 255) !important;
}
.landing_page_body .main_header .nav-wrapper .header-right-container .header-input label::after {
  display: none !important;
}
.landing_page_body .main_header .nav-wrapper .header-right-container .header-input label {
  top: -20% !important;
  font-size: 13px !important;
  color: white !important;
}
.landing_page_body .main_header .nav-wrapper .header-right-container .loginBtn, .landing_page_body .main_header .nav-wrapper .header-right-container .joinBtn {
  border-radius: 30px !important;
  margin: 0 0.5% !important;
  line-height: 0 !important;
  min-width: auto;
  padding: 0 !important;
  min-width: 7rem;
  padding: 1.5rem 0 !important;
  font-weight: 600;
  background: rgba(212, 212, 212, 0.422) !important;
  background-color: rgba(212, 212, 212, 0.422) !important;
}
.landing_page_body .main_header .nav-wrapper .header-right-container .theme_button_container {
  position: relative;
  min-width: 3rem;
  min-height: 3rem;
  border-radius: 50%;
  background: rgba(33, 42, 100, 0.564);
  display: flex;
  flex-direction: row;
  margin-left: 0.5rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent !important;
}
.landing_page_body .main_header .nav-wrapper .header-right-container .theme_button_container i {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  transform: translate(-50%, -50%);
  color: white !important;
  font-size: 1.5rem;
}
.landing_page_body .main_header .nav-wrapper .brand-logo {
  left: 2%;
  top: 15%;
}
.landing_page_body .main_header .nav-wrapper .brand-logo img {
  width: 8rem;
  height: auto;
}
.landing_page_body .main_header .menu_button {
  position: absolute;
  left: 2%;
  top: 20%;
  z-index: 100;
  display: none;
}
.landing_page_body .main_header .menu_button i {
  font-size: 2rem;
  color: white;
}
.landing_page_body .main_header .nav-content {
  position: relative !important;
  background: #131b2f !important;
  overflow-x: auto;
}
.landing_page_body .main_header .nav-content .scrollBtn {
  position: absolute;
  pointer-events: all !important;
  min-width: 3rem;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: #131b2f;
  z-index: 5 !important;
}
.landing_page_body .main_header .nav-content .scrollBtn.scroll_left_btn {
  right: auto;
  left: 0;
  background: #131b2f !important;
}
.landing_page_body .main_header .nav-content .scrollBtn i {
  height: auto;
  font-size: 1.5rem;
}
.landing_page_body .main_header .nav-content .tabs {
  position: relative;
  display: flex !important;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 2.5rem 0;
  scroll-behavior: smooth;
}
.landing_page_body .main_header .nav-content .tabs .tab {
  display: flex !important;
  flex-direction: row;
  /* background: red !important; */
  justify-content: center;
  align-items: center;
  margin: 0 1% !important;
  border-radius: 30px;
}
.landing_page_body .main_header .nav-content .tabs .tab a {
  padding: 0 10px !important;
  font-size: 0.8rem;
  font-weight: 600 !important;
}
.landing_page_body .main_header .nav-content .tabs .tab span {
  position: relative;
  min-width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  pointer-events: none !important;
}
.landing_page_body .main_header .nav-content .tabs .tab span img {
  position: absolute;
  width: 100%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: auto;
}
.landing_page_body .hero_section .hero_banner_container {
  height: auto !important;
}
.landing_page_body .hero_section .hero_banner_container img {
  position: relative;
  width: 100%;
  min-height: 100%;
  height: auto !important;
  background-position: center;
}
.landing_page_body .second_section {
  width: 100%;
  min-height: 35rem;
  height: auto;
  background-color: black !important;
  background: url(../Assets/Images/PatternStar.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
.landing_page_body .second_section .left-wrapper .section_heading {
  font-size: 3.1rem !important;
  font-weight: 700;
  color: var(--white-text-color);
}
.landing_page_body .second_section .left-wrapper .section_heading span {
  color: var(--secondary-color) !important;
  font-size: 3.1rem !important;
  font-weight: 700;
}
.landing_page_body .second_section .left-wrapper button {
  background: var(--secondary-color) !important;
  border-radius: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
}
.landing_page_body .second_section .left-wrapper .flow-text {
  font-size: 1.4rem !important;
  padding-right: 5.3rem;
  margin-top: 2.5rem;
  color: var(--white-normal-text-color);
}
.landing_page_body .second_section .cards_flex_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 2% 1%;
}
.landing_page_body .second_section .cards_flex_wrapper p {
  margin: 0 !important;
  color: var(--white-normal-text-color);
  text-align: center;
  width: 80%;
  font-size: 1.2rem !important;
}
.landing_page_body .second_section .cards_flex_wrapper .col {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: center;
  min-height: 200px !important;
}
.landing_page_body .second_section .cards_flex_wrapper .col .icon {
  width: 100px !important;
  height: 100px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing_page_body .second_section .cards_flex_wrapper .col .icon img {
  min-width: 90% !important;
  height: auto !important;
  margin: auto;
}
.landing_page_body .second_section .cards_flex_wrapper .col .icon.deposite img {
  min-width: 110% !important;
}
.landing_page_body .third_section {
  width: 100%;
  min-height: 60rem;
  /* background-color: rgb(27, 27, 27) !important; */
  background: url(../Assets/Images/Pattern-Background-Black.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.landing_page_body .third_section .section_heading {
  width: 48%;
  font-weight: 700;
  color: var(--white-text-color);
}
.landing_page_body .third_section p {
  width: 80%;
  font-weight: 500;
  color: var(--white-normal-text-color);
}
.landing_page_body .third_section .video_container {
  width: 99%;
  min-height: 100%;
  height: auto;
  border-radius: 1.5rem;
  overflow: hidden;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing_page_body .third_section .video_container video {
  width: 100%;
  height: auto;
}
.landing_page_body .forth_section {
  width: 100%;
  height: auto;
  background: #121212;
  color: var(--white-text-color) !important;
  padding-top: 2rem;
  padding-bottom: 5rem;
}
.landing_page_body .forth_section .container {
  color: var(--white-text-color);
}
.landing_page_body .forth_section .container .section_heading {
  font-weight: 600;
  color: var(--white-text-color);
}
.landing_page_body .forth_section .container .promotion_wrapper {
  margin-top: 5rem;
}
.landing_page_body .forth_section .container button {
  border-radius: 2rem;
  padding: 1.8% 1.8% !important;
  line-height: 0 !important;
  background: var(--secondary-color);
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 0.2rem !important;
}
.landing_page_body .forth_section .container .games_carousel {
  margin-top: 3rem;
}
.landing_page_body .forth_section .container .games_carousel .item {
  border-radius: 1rem;
  min-width: 18%;
  height: 25rem !important;
  background: rgb(215, 215, 215) !important;
}
.landing_page_body .forth_section .container .promotion_carousel {
  min-height: 22rem;
  margin: 2rem 0;
}
.landing_page_body .forth_section .container .promotion_carousel .item {
  border-radius: 1.5rem;
  max-height: 22rem;
  height: 22rem !important;
  background: rgb(215, 215, 215) !important;
}
.landing_page_body .forth_section .container .promotion_carousel .owl-dots {
  display: none !important;
}
.landing_page_body .forth_section .container .promotion_carousel .owl-nav {
  display: none !important;
}
.landing_page_body .fifth_section {
  background: #2c2c2c;
  padding-top: 4rem;
}
.landing_page_body .fifth_section .container {
  max-width: 60% !important;
}
.landing_page_body .fifth_section .container .section_heading {
  font-weight: 600;
}
.landing_page_body .fifth_section .container .game_providers_carousel {
  position: relative;
  min-height: 20rem !important;
  margin-top: 2rem;
  overflow-y: visible !important;
}
.landing_page_body .fifth_section .container .game_providers_carousel .item {
  min-width: 15%;
  background: transparent !important;
  border: 1.5px solid var(--secondary-color);
  max-height: 10rem;
  min-height: 10rem !important;
  border-radius: 0.8rem;
  margin-bottom: 0.5rem;
}
.landing_page_body .fifth_section .container .game_providers_carousel .owl-nav {
  display: none !important;
}
.landing_page_body .sixth_section {
  background: var(--secondary-color) !important;
  padding: 3rem 0;
}
.landing_page_body .sixth_section .container .row {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.landing_page_body .sixth_section .container .row .section_heading {
  position: relative;
  font-weight: 700;
  font-size: 3rem !important;
  z-index: 1;
}
.landing_page_body .sixth_section .container .row .flow-text {
  font-size: 1.1rem !important;
  margin: 0 !important;
  font-weight: 600;
  z-index: 1;
  font-weight: 600;
}
.landing_page_body .sixth_section .container .row .banner {
  position: relative;
  width: 39vw;
  height: auto;
}
.landing_page_body .sixth_section .container .row .col {
  display: flex;
  flex-direction: column !important;
  align-items: flex-start;
  overflow-x: visible;
}
.landing_page_body .sixth_section .container .row .btn-large {
  font-size: 1.2rem !important;
  background: var(--white-text-color) !important;
  color: var(--black-text-color) !important;
  font-weight: 600;
  border-radius: 2rem;
  margin-top: 1rem;
}
.landing_page_body .sixth_section .container .row .download_instruction {
  font-size: 1rem;
  color: var(--white-text-color) !important;
  margin-top: 1rem;
  z-index: 1;
}
.landing_page_body footer {
  background: var(--footer-bg-color);
  padding-top: 3rem;
}
.landing_page_body footer .container {
  position: relative !important;
  min-width: 93% !important;
  padding-bottom: 12rem;
}
.landing_page_body footer .container .footer_logo .dark_mode_logo {
  display: block;
}
.landing_page_body footer .container .footer_logo .light_mode_logo {
  display: none;
}
.landing_page_body footer .container .footer_logo img {
  width: 10rem;
  height: auto;
  margin-bottom: 2rem !important;
}
.landing_page_body footer .container .col p {
  font-size: 0.9rem;
  color: var(--gray-text-color) !important;
}
.landing_page_body footer .container .col.wrapper h4 {
  font-size: 1.1rem;
  color: var(--blue-normal-color);
  font-weight: 600;
}
.landing_page_body footer .container .col .payment_options_brands_logo {
  width: 15rem;
  height: auto;
}
.landing_page_body footer .container .nav-wrapper {
  position: absolute;
  width: 50%;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  background: none !important;
  right: 0;
  bottom: 5%;
  padding-bottom: 2rem;
}
.landing_page_body footer .container .nav-wrapper ul {
  width: 1000%;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  background: none !important;
  justify-content: flex-end;
  align-items: center;
}
.landing_page_body footer .container .nav-wrapper ul li {
  padding: 0 1rem;
  border-left: 0.12rem solid var(--blue-normal-color);
  color: var(--blue-normal-color);
  line-height: normal !important;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}
.landing_page_body footer .container .nav-wrapper.social-media {
  right: auto;
  left: 0;
  bottom: 5%;
}
.landing_page_body footer .container .nav-wrapper.social-media ul {
  justify-content: flex-start !important;
}
.landing_page_body footer .container .nav-wrapper.social-media ul li {
  border: none !important;
}
.landing_page_body footer .container .contact_info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--white-text-color);
  font-size: 1rem !important;
}
.landing_page_body footer .container .contact_info i {
  color: var(--blue-normal-color);
  margin-right: 0.8rem;
  font-size: 1.3rem;
}
.landing_page_body .app_download_cta {
  min-width: 13rem;
  height: auto;
  background: var(--primary-color);
  position: fixed;
  left: 1.5rem;
  top: 30%;
  transform: translateY(-50%) rotate(90deg) !important;
  z-index: 99;
  transform-origin: left;
  color: var(--white-text-color);
  padding: 0.8rem 1.5rem;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.landing_page_body .app_download_cta span {
  width: 100%;
}
.landing_page_body .app_download_cta i {
  position: relative;
  transform: rotate(-90deg);
  margin-left: 1%;
}
.landing_page_body .helpline_cta {
  min-width: 11rem;
  height: auto;
  background: var(--primary-color);
  position: fixed;
  right: 1.5rem;
  top: 30%;
  transform: translateY(-50%) rotate(-90deg) !important;
  z-index: 99;
  transform-origin: right;
  color: var(--white-text-color);
  padding: 0.8rem 0.8rem;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.landing_page_body .helpline_cta span {
  margin-left: 0.5rem;
}
.landing_page_body .helpline_cta a {
  margin-left: 0.4rem;
  margin-top: 0.4rem;
}
.landing_page_body .helpline_cta a svg {
  width: 1.5rem;
  height: auto;
  position: relative;
  transform: rotate(90deg);
}
.landing_page_body .helpline_cta a svg path {
  fill: var(--white-bg);
}

body[data-theme=light] .second_section {
  background-color: var(--white-bg) !important;
  color: var(--black-text-color) !important;
}
body[data-theme=light] .flow-text {
  color: var(--black-normal-text-color) !important;
}
body[data-theme=light] .section_heading {
  color: var(--black-text-color) !important;
}
body[data-theme=light] .third_section .section_heading {
  color: var(--white-text-color) !important;
}
body[data-theme=light] .third_section p {
  color: var(--white-text-color) !important;
}
body[data-theme=light] .forth_section {
  background: var(--light-white-bg) !important;
}
body[data-theme=light] .fifth_section {
  background: #ededed !important;
}
body[data-theme=light] .fifth_section .game_providers_carousel .item {
  border-color: var(--primary-color) !important;
}
body[data-theme=light] .sixth_section .section_heading {
  color: var(--white-text-color) !important;
}
body[data-theme=light] .sixth_section .flow-text {
  color: var(--white-normal-text-color) !important;
}
body[data-theme=light] footer {
  background: var(--white-bg);
}
body[data-theme=light] footer .container .footer_logo .light_mode_logo {
  display: block !important;
}
body[data-theme=light] footer .container .footer_logo .dark_mode_logo {
  display: none !important;
}
body[data-theme=light] footer .container p {
  color: var(--black-normal-text-color) !important;
  font-weight: 400;
}
body[data-theme=light] footer .container .wrapper h4, body[data-theme=light] footer .container .col h4 {
  color: var(--primary-color) !important;
}
body[data-theme=light] footer .container .wrapper p, body[data-theme=light] footer .container .col p {
  color: var(--black-normal-text-color) !important;
}
body[data-theme=light] footer .container .wrapper .contact_info i, body[data-theme=light] footer .container .col .contact_info i {
  color: var(--primary-color) !important;
}
body[data-theme=light] footer .container .nav-wrapper ul li a {
  color: var(--primary-color) !important;
}/*# sourceMappingURL=style.css.map */